.App {
  text-align: center;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 80%;
}

@media (max-width: 600px) {
  .App {
    padding: 1rem;
  }

  input {
    width: 100%;
  }
}

.image{
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}